*{
    margin: 0;
    font-family: sans-serif;
}
html{
    background-color: white;
}
body{
    height: 100vh;
    width: 100vw;
	text-align: center;
	align-items: center;
}
footer{
	position: fixed;
	left: 0;
	bottom: 2px;
	width: 100%;
}

#answer-0:after{content: 'A';}
#answer-1:after{content: 'B';}
#answer-2:after{content: 'C';}
#answer-3:after{content: 'D';}

form input:after{
	font-size: 32px;
}

form input {
	-webkit-appearance: none;
	padding: 10vh;
    margin: 2vh;
	display: inline-block;
	position: relative;
    border: none;
    outline: none;
	padding: 15px 25px;
	font-size: 24px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	background-color: #04AA6D;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}

  
form input:hover {
	background-color: #3e8e41
}
  
form input:checked, form input:active{
	background-color: #3e8e41;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

.resultHolder{
	width: 75%;
	margin-left: 12.5%;
	background-color: #ccc;
	border-radius: 5px;
}
.resultBar{
	background-color: #04AA6D;
	height: 5vh;
	border-radius: 5px;
}

#password{
	cursor: auto;
}
#password:checked, #password:active{
	box-shadow: 0 9px #999;
	transform: translateY(0);
}
#password:checked{
	background-color: #04AA6D;
}